<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <title>Students</title>
</head>

<body>
    <h1>Students</h1>
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <ul class="list-group list-group-flush">
                <% students.forEach(function(t) { %>
                    <li class="list-group-item">
                        <%= t.id %>
                        .
                        <%= t.name %>
                            -
                            <%= t.course %>
                    </li>
                    <% }); %>
            </ul>
        </div>
    </div>
</body>

</html>