<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title>New Flight</title>
</head>
<body>
    <h2>Enter a New Flight</h2>
<form action="/flights" method="POST">
  <label>Airline:
    <select name="airline">
        <option value="American">American</option>
        <option value="Southwest">Southwest</option>
        <option value="United">United</option>
      </select>
  </label><br>
  <label>Airport:
    <select name="airport">
        <option value="AUS">AUS</option>
        <option value="DFW">DFW</option>
        <option value="DEN" selected>DEN</option>
        <option value="LAX">LAX</option>
        <option value="SAN">SAN</option>
      </select>
  </label><br>
  <label>FlightNo:
    <input type="number" name="flightNo">
  </label><br>
  <label>DepartsDate
    <input type="datetime-local" name="departs">
  </label><br>
  <input type="submit" value="Add Flight">
</form>
</body>
</html>