<%- include('../partials/header') %>
<br>
    <h2>Enter a New Flight</h2>
<form action="/flights" method="POST">
  <label>Airline:
    <select name="airline">
        <option value="American">American</option>
        <option value="Southwest">Southwest</option>
        <option value="United">United</option>
      </select>
  </label><br>
  <label>Airport:
    <select name="airport">
        <option value="AUS">AUS</option>
        <option value="DFW">DFW</option>
        <option value="DEN" selected>DEN</option>
        <option value="LAX">LAX</option>
        <option value="SAN">SAN</option>
      </select>
  </label><br>
  <label>FlightNo:
    <input type="number" name="flightNo" value="10">
  </label><br>
  <label>DepartsDate
    <input type="datetime-local" name="departs" value="<%= (new Date()).toISOString().slice(0, 16)%>">
  </label><br>
  <input type="submit" value="Add Flight">
</form>
<%- include('../partials/footer') %>