* {
    box-sizing: border-box;
  }

  body {
    height: 100vh;
    margin: 20px;
    font-family: Helvetica;
    
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch;

}

#menu {
  width: 20%;
  height: 100%;
  /* margin: 5%; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: space-around;
  
}

#pics {
  width: 80%;
  height: 100%;
  /* margin: 5%; */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: stretch;
  align-content: space-around;
}

.container2 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: space-around;
  /* align-items: stretch; */
}

.container3 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: space-around;
  margin: 50px 0px 50px 0px;
  /* align-items: stretch; */
}

.wide1 {
  width: 100%;
  height: 80%;
  margin: 100px;
}

.wide2 {
  width: 45%;
  margin: 50px;
}

.wide3 {
width: 30%;
margin: 50px;
}