* {
    box-sizing: border-box;
  }

  body {
    height: 100vh;
    margin: 20px;
    font-family: Helvetica;
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;

}

  #menu {
    width: 700px;
    height: 100%;
    padding-top: 500px;
    opacity: 0.5;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }

  #pics {
    width: 50%;
    height: 100%;
   
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: stretch;
    align-content: space-around;
  }

  .container2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: space-between;
  }

  .container3 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: space-between;

    margin: 50px;
  }

  .wide1 {
    width: 4600px;
  }

  .wide2 {
    width: 50%;
    margin: 50px;
  }

  .wide3 {
    width: 30%;
    margin: 50px;
  }

  .navItems {
    margin-bottom: 50px;
    line-height: 2;
    color: grey;
    font-size: 40px;
  }

  #logo {
    width: 150px;
  }