<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My awesome developer skills</title>
</head>
<body>
    <a href="/">Home</a>
    <h1>My awesome developer skills</h1>
    <ul>
      <% skills.forEach(function(t) { %>
        <li>
          <a href="/skills/<%= t.id %>"><%= t.skill %></a>
            - 
          <%= t.level %>
        </li>
      <% }); %>
    </ul>
    
</body>
</html>