<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title>My awesome developer skills</title>
</head>

<body>
    <a href="/">Home</a>
    <h1>My awesome developer skills</h1>
    <ul>
        <% skills.forEach(function(s) { %>
            <li>
                <a href="/skills/<%= s.id %>">
                    <%= s.skill %>
                </a>
                -
                <%= s.new ? 'new' : 'in progress' %>
            </li>
            <% }); %>
    </ul>
    <!-- add a form for adding a skill-->
    <a href="/skills/new">Add Skill</a>

</body>

</html>